extends layout
block content
    div.container
        div.content
            div.page-header
                h1='Price Suggest API tester page'

            div.col-md-8
                form.form-horizontal
                    div.form-group
                        label.col-sm-2.control-label='Name'
                        div.col-sm-6
                            input.form-control#text(value='iphone 5')
                    div.form-group
                        label.col-sm-2.control-label='Url'
                        div.col-sm-6
                            input.form-control#url(value='http://www.ebay.com/itm/Apple-iPhone-4-32GB-White-Verizon-SmartPhone-Free-Shipping-/321246097427?pt=Cell_Phones&hash=item4acbc27013')
                    div.form-group
                        label.col-sm-2.control-label='Model ID'
                        div.col-sm-6
                            input.form-control#model_id(value='')
                    div.form-group
                        label.col-sm-2.control-label='Price'
                        div.col-sm-6
                            input.form-control#price(value='0')
                    div.form-group
                        label.col-sm-2.control-label='Currency'
                        div.col-sm-6
                            input.form-control#currency
                    div.form-group
                        label.col-sm-2.control-label='v'
                        div.col-sm-6
                            input.form-control#v(value='201405201823')
                    div.form-group
                        label.col-sm-2.control-label='partner'
                        div.col-sm-6
                            input.form-control#partner
                    div.form-group
                        label.col-sm-2.control-label='aff_id'
                        div.col-sm-6
                            input.form-control#aff_id
                    div.form-group
                        label.col-sm-2.control-label='aff_sub'
                        div.col-sm-6
                            input.form-control#aff_sub
                    div.form-group
                        label.col-sm-2.control-label='source'
                        div.col-sm-6
                            input.form-control#source
                    div.form-group
                        label.col-sm-2.control-label='City'
                        div.col-sm-6
                            input.form-control#city
                    div.form-group
                        label.col-sm-2.control-label='IP'
                        div.col-sm-6
                            input.form-control#ip
                    div.form-group
                        label.col-sm-2.control-label='region'
                        div.col-sm-6
                            input.form-control#region
                    div.form-group
                        label.col-sm-2.control-label='country'
                        div.col-sm-6
                            input.form-control#country
                    div.form-group
                        label.col-sm-2.control-label='clientid'
                        div.col-sm-6
                            input.form-control#clientid
                    div.form-group
                        label.col-sm-2.control-label='first_run'
                        div.col-sm-6
                            input.form-control#first_run
                    div.form-group
                        label.col-sm-2.control-label='activate_time'
                        div.col-sm-6
                            input.form-control#activate_time
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            div.checkbox
                                label
                                    input#is_shop(type='checkbox')
                                    ='Is shop'
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            div.checkbox
                                label
                                    input#lowest_only(type='checkbox')
                                    ='Lowest only'
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            div.checkbox
                                label
                                    input#other_reg(type='checkbox')
                                    ='From other regions'
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            div.checkbox
                                label
                                    input#opt_in(type='checkbox', checked)
                                ='Opt in'
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            div.checkbox
                                label
                                    input#debug(type='checkbox', checked)
                                    ='Debug'
                    div.form-group
                        div.col-sm-offset-2.col-sm-6
                            button(type='submit').btn.btn-primary='Submit'
                div.response
                    h2='Response Node.js'
                    pre#nodejs
                div.response
                    h2='Response Python'
                    pre#python
            div.col-md-2
    div.footer
    script(src='/js/tester.js')